/* Permet de centrer un "label" avec un "input" verticalement */
.vertical-center-label{
    display: flex;
    align-items: center;
}

.theme-accent-color {
    color: #F22613 !important;
}

.section-heading {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 48px;
    letter-spacing: 2px;
    font-weight: 700;
}

.spacer-20{
    clear: both;
    height: 20px;
    display: block;
    position: relative;
}

.mb40 {
    margin-bottom: 40px;
    display: block;
}

.mb80 {
    margin-bottom: 80px;
}

.btn-primary {
    border-color: #333;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
    background-color: transparent;
    padding: 15px 20px;
    letter-spacing: 1px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    border: 2px solid;
}

.btn-primary:hover {
    color: #fff;
    background-color: #F22613;
    border-color: #F22613;
}

.form-control{
    margin: 0 0.5% 10px;
}

.section-heading h2 {
    font-family: 'Bree Serif', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}